/* Make everything a border-box*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ====================== Typography ====================== */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

body,
td,
th,
p,
ul,
li {
  font: 1em/1.25 Arial, Helvetica, sans-serif;
  color: #000;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

/* ====================== Links ====================== */
a {
  color: orange;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

/* ====================== Focus ====================== */
a:hover,
a:focus,
#primary-nav h1 a:focus,
#primary-nav h1 a:hover,
.leaflet-marker-icon:focus,
.leaflet-marker-icon:hover,
.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus,
.leaflet-control-attribution a:focus,
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover,
.leaflet-control-attribution a:hover,
.filter-options select:focus,
.filter-options select:hover,
#breadcrumb li a:hover,
#breadcrumb li a:focus {
  color: #744906;
  text-decoration: underline;
  outline: 0;
  -webkit-box-shadow: 0 0 6px 3px rgba(116,73,6,1);
          box-shadow: 0 0 6px 3px rgba(116,73,6,1);
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus,
.filter-options select:focus,
.filter-options select:hover {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #744906;
  color: #fff;
  padding: 8px;
  z-index: 1000000000;
}

.skip-link:focus {
  top: 0;
  color: #fff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  text-decoration: underline;
  -webkit-box-shadow: 0 0 6px 3px rgba(255,255,255,1);
          box-shadow: 0 0 6px 3px rgba(255,255,255,1);
}

#map:focus {
  border: 5px solid #744906;
}

.filter-options select:hover {
  cursor: pointer;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #fff;
  color: #744906;
  outline: 0;
  -webkit-box-shadow: 0 0 6px 3px rgba(116,73,6,1);
          box-shadow: 0 0 6px 3px rgba(116,73,6,1);
}

#update-site-notification button:hover,
#update-site-notification button:focus {
  background-color: #744906;
  color: #fff;
  outline: 0;
  -webkit-box-shadow: 0 0 6px 3px rgba(255,255,255,1);
          box-shadow: 0 0 6px 3px rgba(255,255,255,1);
}

/* ====================== Content Positioning ====================== */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #fff;
  min-height: 100%;
}

.inside #maincontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* ====================== Footer ====================== */
#footer {
  background-color: #112e51;
  color: #fff;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
#primary-nav {
  width: 100%;
  background-color: #112e51;
  text-align:center;
  padding: 2vh 2vw;
}

#primary-nav h1 {
  margin: auto;
}

#primary-nav h1 a {
  color: #b2cce5;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #primary-nav h1 a {
    letter-spacing: 5px;
  }
}

#breadcrumb {
  padding: 0.625em 2.5em 1em;
  list-style: none;
  background-color: #b2cce5;
  margin: 0;
  width: 50%;
}

@media (max-width: 767px) {
  #breadcrumb {
    width: 100%;
  }
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 0.5em;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #112e51;
  text-decoration: none;
}

@media (max-width: 767px) {
  #breadcrumb li a {
    min-width: 48px !important;
    min-height: 48px !important;
  }
}

/* ====================== Map ====================== */
#map {
  height: 33.3333em;
  width: 100%;
  background-color: #bdc3c7;
  margin: 0;
  display: block;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #b2cce5;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.filter-options h2 {
  color: #112e51;
  font-weight: normal;
  margin: 0;
  width: 100%;
}

.filter-label {
  color: #112e51;
  margin: 0.75em 0 0;
  font-weight: 600;
}

.filter-label,
.filter-options select {
  width: 100%;
}

#neighborhoods-select {
  margin-bottom: 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  letter-spacing: 0;
  margin: 0.75em 0 1em;
  padding: 0.75em;
}

@media (min-width: 600px) {
  .filter-options {
    padding: 2.5vw;
  }
}

@media (min-width: 768px) {
  .filter-options {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .filter-label,
  .filter-options select {
    width: 48.75%;
  }

  #neighborhoods-select-label {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  #cuisines-select-label {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  #neighborhoods-select {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 1em;
  }

  #cuisines-select {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 767px) {
  .filter-options select {
    min-height: 48px;
    min-width: 48px;
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list-heading {
  margin-bottom: 0;
  margin-left: 2.5vw;
  color: #744906;
}

@media (max-width: 600px) {
  #restaurants-list-heading {
    margin-left: 5vw;
  }
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #bdc3c7;
  margin: 1em 0;
  padding: 0 1.875em 1.5625em;
  text-align: left;
  width: 20.875em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants-list .restaurant-img {
  background-color: #bdc3c7;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h3 {
  color: #744906;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em 0 0.5em;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
}

#restaurants-list li a {
  background-color: #744906;
  border-bottom: 3px solid #bdc3c7;
  color: #fff;
  display: inline-block;
  margin: 0.9375em 0 0;
  padding: 0.5em 1.875em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 767px) {
  #restaurants-list li a {
    min-width: 48px;
    min-height: 48px;
  }
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  width: 100%;
  height: 33.3333em;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #bdc3c7;
  border-top: 1px solid #fff;
  padding: 0.9375em 0;
  width: 85%;
  margin: 0 auto;
}

.inside #footer {
  width: 100%;
}

@media (min-width: 600px) {
  #restaurant-container,
  #reviews-container {
    padding: 1.5em 2em;
  }
}

@media (min-width: 768px) {
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000;
  }

  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: -webkit-calc(100% - 4vh - 2.5em*1.125);
    height: calc(100% - 4vh - 2.5em*1.125);
    position: fixed;
    right: 0;
    bottom: 0;
    top: -webkit-calc(4vh + 2.5em*1.125);
    top: calc(4vh + 2.5em*1.125);
    width: 50%;
  }

  #restaurant-container,
  #reviews-container {
    width: 50%;
    margin: 0;
  }

  #restaurant-container {
    padding: 8.75em 2.5em 1.875em;
  }

  .inside #footer {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .inside #map-container {
    top: -webkit-calc(4vh + 3em*1.05);
    top: calc(4vh + 3em*1.05);
    height: -webkit-calc(100% - 4vh - 3em*1.05);
    height: calc(100% - 4vh - 3em*1.05);
  }
}

.inside #map {
  background-color: #bdc3c7;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #744906;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.375em 0 0.75em;
  text-transform: uppercase;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  margin: 0.625em 0;
}

#restaurant-cuisine {
  background-color: #112e51;
  color: #b2cce5;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 1.25em;
  padding: 0.125em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#reviews-container h2,
#restaurant-container h2 {
  color: #744906;
  font-weight: 300;
  padding-bottom: 0.0625em;
}

#restaurant-container h3 {
  margin-bottom: 0;
  font-weight: 500;
  color: #112e51;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #bdc3c7;
  display: block;
  list-style-type: none;
  margin: 0 0 1.875em;
  overflow: hidden;
  padding: 1.25em 1.25em;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 0.625em;
}

#restaurant-hours {
  margin-top: 0.625em;
}

/* ====================== Update Notification ====================== */
#update-site-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000000;
  background: #744906;
  text-align: center;
}

#update-site-notification p {
  font-weight: 600;
  color: #fff;
}

#update-site-notification button {
  margin: 1em 1em 1em 1em;
  background: #fff;
  color: #744906;
  border: none;
  border-bottom: 3px solid #bdc3c7;
  font-weight: 600;
}

@media (min-width: 400px) {
  #update-site-notification {
    text-align: left;
  }

  #update-site-notification p {
    display: inline-block;
    float: left;
  }

  #update-site-notification button {
    float: right;
  }
}

@media (max-width: 767px) {
  #update-site-notification button {
    min-height: 48px;
    min-width: 48px;
  }

  #update-site-notification p {
    padding: 0.6em 0 0.6em 1em;
  }
}

/* ====================== Errors ====================== */
.skeleton #maincontent {
  background: #fff;
}

#internet-error {
  width: 85%;
  margin: 0 auto;
  max-width: 700px;
}

.error-symbol {
  font-size: 6em;
  text-align: center;
  margin: 0.25em 0;
  color: #744906;
}